{% extends "base.html" %}
{% block content %}
    <form class="input-group" action="/add" method="post">
        {{ form.hidden_tag() }}
        {{ form.content(class="form-control") }}
    <span class="input-group-btn">
        <button class="btn btn-default" type="submit">增加</button>
    </span>
    </form>
    {% for error in form.errors.content %}
        <div>{{ error }}</div>
    {% endfor %}
    <div>
        <h2>todo列表</h2>
    {% if todos %}
        <table class="table">
            <thead>
                <tr>
                    <th>内容</th>
                    <th>状态</th>
                    <th>时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                    <tr>
                        <td>{{ todo.content }}</td>
                        <td>
                            {% if todo.status ==1 %}
                            已完成
                            {% else %}
                            未完成
                            {% endif %}
                        </td>
                        <td>{{ todo.time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        {% if todo.status ==1 %}
                            <td><a href="/undone/{{ todo.id }}" class="btn btn-primary">回滚</a> </td>
                        {% else %}
                            <td><a href="/done/{{ todo.id }}" class="btn btn-primary">完成</a> </td>
                        {% endif %}
                            <td><a href="/delete/{{ todo.id }}" class="btn btn-danger">删除</a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3 class="text-info">没有代办事件</h3>
    {% endif %}

    </div>
{% endblock %}